{% extends "base.html" %}

{% block content %}
<div class="row">

    {% for recipe in recipes %}
        <div class="col s12 m6">

            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ recipe.name }}</span>
                    <div>{{ recipe.style.name }} by {{ recipe.brewer }}</div>
                    <p>
                        <ul>
                            <li>IBU {{ recipe.style.ibu_min }}</li>
                            <li>OG {{ recipe.style.og_min }} / FG {{ recipe.style.og_max}}</li>
                            <li>Batch Size{{ format_volume(recipe.batch_size) }}</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            {% for fermentable in recipe.fermentables %}
                                <li>{{ format_weight(fermentable.amount) }} {{ fermentable.name }}</li>
                            {% endfor %}
                        </ul>
                    <p>
                    <p>
                        <ul>
                            {% for hop in recipe.hops %}
                                <li>{{ format_weight(hop.amount, "g") }} {{ hop.name }} ({{ hop.alpha }}AA @ {{ format_time(hop.time) }})</li>
                            {% endfor %}
                        </ul>
                    <p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="material-icons left">view_list</i> See Mash Schedule</a>
                </div>
            </div>

        </div>
    {% endfor %}

</div>
{% endblock %}
